<div>
  <nav class="navbar navbar-expand-lg">
    <a href="#" class="navbar-brand">
      <img src="https://www.pngmart.com/files/11/Academy-Hat-PNG-Clipart.png" alt="Logo" class="logo">
     <style>

h3 { font-family:"Trebuchet Ms";
	
	 }

</style>     
      <h3>    DISEÑO DE SISTEMAS / CURSOS </h3>

    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="cursos" class="nav-link">     <style>

h6 { font-family:"Trebuchet Ms";
	
	 }

</style>     
      <h6>    Cursos </h6>

    </a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link"> <style>

h6 { font-family:"Trebuchet Ms";
	
	 }

</style>     
      <h6>    Añadir </h6>

    </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

